@model Book[]

@{
    ViewData["Title"] = "Result of searching";
}

<h1>Result of searching</h1>

@if (Model.Length == 0)
{
    <p>Found nothing.</p>
}
else
{
    foreach (var book in Model)
    {
        <li><a href="@Url.Action("Index","Book", new { id = book.Id})" >@book.Title</a></li>
    }

}